{% extends "base.html" %}
{% block content %}
    <div class="antialiased dark:bg-base-100">
        <!-- Navbar -->
        {% include "components/navbar.html" %}
        <!-- Sidebar -->
        {% comment %} {% include "components/sidebar.html" %} {% endcomment %}
        <main class="p-4 h-auto pt-20">
            {% block main %}
            {% endblock main %}
        </main>
        {% include "components/footer.html" %}
    </div>
{% endblock content %}

{% block extra_js %}
    {% block component_js %}{% endblock component_js %}
    {% block page_js %}{% endblock page_js %}
{% endblock extra_js %}
