{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
          content="Jonatan, Snyders, Resume, Website, Software, Developer, Python, Django, HTML, CSS, JavaScript, React, Machine Learning, AI, Data Science">
    <meta name="description"
          content="{% block meta_description %}Jonatan Snyders' Resume Website{% endblock meta_description %}">
    <title>
      {% block title %}
        Jonatan Snyders' Resume
      {% endblock title %}
    </title>
    <link rel="icon"
          type="image/png"
          href="{% static 'img/avatar_jonatan_tongue.png' %}">
    <script defer src="{% static 'js/chart.js' %}"></script>
    <script defer src="{% static 'js/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/alpine.js' %}"></script>
    <script defer src="{% static 'js/d3.v7.min.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    
    
    {% django_htmx_script %}
    <link rel="stylesheet"
          href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}">
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="">

    <div class="container mx-auto mt-4">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- CSRF script for HTMX -->
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
