{% extends "layouts/default.html" %}
{% load static %}
{% block main %}
<section class="bg-base-100">
  <div class="container mx-auto px-4 py-8">
    {% if messages %}
<div id="messages" class="fixed top-0 right-0 m-4">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} shadow-lg mb-4">
      <div>
        <span>{{ message }}</span>
      </div>
    </div>
  {% endfor %}
</div>
<script>
  setTimeout(function() {
    var messages = document.getElementById('messages');
    messages.style.display = 'none';
  }, 5000);  // Hide messages after 5 seconds
</script>
{% endif %}

    <h1 class="text-4xl font-bold mb-8">Resume</h1>
    
    <div class="grid md:grid-cols-3 gap-4">
      <!-- Column 1: Single-column cards -->
      <div class="space-y-4 md:col-span-1">
        
        <div class="card bg-base-200 shadow-xl w-full">
            <div class="card-body">
                <div class="flex flex-col items-start">
                    <div class="relative w-24 h-24 mb-3 rounded-full shadow-lg overflow-hidden group">
                        <img class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300 ease-in-out opacity-100 group-hover:opacity-0" src="{% static 'img/jonatan_avatar_smiling_no_bg.png' %}" alt="Jonatan Profile Picture"/>
                        <img class="absolute inset-0 w-full h-full object-cover transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100" src="{% static 'img/jonatan_avatar_roaring_no_bg.png' %}" alt="Jonatan Profile Picture (Roaring)"/>
                    </div>
                    <h3 class="mb-1 text-xl font-medium">Jonatan Snyders</h3>
                    <span class="text-sm text-base-content/70">Ex-Founder, Data Developer</span>
                    <p class="mt-2 text-sm text-base-content/70">An ex-founder and passionate Data Developer with an eye for Hypermedia Driven Applications and a love for data science.</p>
                    <div class="flex flex-wrap gap-2 mt-3">
                        <span class="badge badge-neutral">Web Dev</span>
                        <span class="badge badge-neutral">Data Science</span>
                        <span class="badge badge-neutral">Ex-Founder</span>
                        <span class="badge badge-neutral">Python</span>
                        <span class="badge badge-neutral">Django</span>
                        <span class="badge badge-neutral">SQL</span>
                    </div>
                    <div x-data="{ showTooltip: false }" class="relative mt-4 inline-block w-full">
                        <a href="{% url 'download_cv' %}" @click.prevent="showTooltip = true; setTimeout(() => showTooltip = false, 3000)" class="btn btn-outline w-full">Download CV</a>
                        <div x-show="showTooltip" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" class="absolute z-10 p-2 bg-gray-800 text-white text-sm rounded shadow-lg" style="bottom: 100%; left: 50%; transform: translateX(-50%); width: 200px;">
                            All this effort for an online resume, and you want a PDF? (<span class="italic">I just haven't had the time yet</span>)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card bg-base-200 shadow-xl w-full">
          <div class="card-body">
            <h2 class="card-title">Skills</h2>
            <p>Your personal information here</p>
          </div>
        </div>
        <div class="card bg-base-200 shadow-xl w-full">
          <div class="card-body">
            <h2 class="card-title">Information</h2>
            <p>Your skills list here</p>
          </div>
        </div>
        <!-- Add more single-column cards as needed -->
      </div>
      
      <!-- Columns 2-3: Wide cards -->
      <div class="md:col-span-2 space-y-4">

        <c-resume-card
            title="Skills"
        >
                <div id="skills-tree" class="overflow-x-auto"></div>
        </c-resume-card>
        
        <!-- Achievements -->
        <c-resume-card
            title="Achievements"
            tooltip="I listed only 4 achievements but honestly who's going to read more than 1?"
            description="TLDR: Startup success and failure, lots of programming and data science, gotten pretty good at web development pretty fast."
        >
              <c-resume-item-card
                  title="Launched 3 Web Apps Within 3 Months of Learning"
                  role="Web Developer"
                  company="Autodidact"
                  location="Antwerp, Belgium"
                  date_range="Q2 2024"
                  image_url="{% static 'img/django-logo.png' %}"
                  image_alt="Django Logo"
              >Built an ecommerce platform and marketing mix modeling app in just 3 months of self-study,
              accelerated by my programming and data science experience.</c-resume-item-card>

              <c-resume-item-card
                  title="Created MeshMonk - a medical image processing library"
                  role="Data Scientist"
                  company="KULeuven"
                  location="Leuven, Belgium"
                  date_range="2017"
                  image_url="{% static 'img/meshmonk-logo-white.png' %}"
                  image_alt="MeshMonk Logo"
              >Developed <a href="https://github.com/TheWebMonks/meshmonk" target="_blank" class="link link-hover">MeshMonk</a> in C++, a high-performance medical image processing framework used or cited in 140+ research projects.</c-resume-item-card>

              <c-resume-item-card
                  title="Scaled international impact-first business to support 30 people"
                  role="Ex-Founder"
                  company="Humainly"
                  location="Leuven, Belgium"
                  date_range="2018 - 2022"
                  image_url="{% static 'img/humainly-logo-green.png' %}"
                  image_alt="Humainly Logo"
              >Scaled <a href="https://humainly.com/" target="_blank" class="link link-hover">Humainly</a> - a non-profit yet self-sustainable business - to support 30 people in Venezuela and Nigeria, providing living wages and professional training through local NGO partnerships.</c-resume-item-card>

              <c-resume-item-card
                  title="Data engineering and Bayesian modelling at eComm startup"
                  role="Growth Engineer"
                  company="KULeuven"
                  location="Leuven, Belgium"
                  date_range="2018 - 2022"
                  image_url="{% static 'img/moonbird-logo.svg' %}"
                  image_alt="KULeuven icon"
              >Drove data-driven decision-making at eComm startup with a bespoke ELT pipeline, advanced server-side tracking, and self-developed Bayesian Marketing Mix Model.</c-resume-item-card>
        </c-resume-card>

        <!-- Work Experience -->
        <c-resume-card
            title="Work Experience"
            description="TLDR: I did research, built a c++ library, co-founded a business, consulted data science, growth engineering in eComm and started building web apps."
        >

        </c-resume-card>

        <!-- Education -->
        <c-resume-card
            title="Education"
            description="Your education details here"
        >
        </c-resume-card>
        
      </div>
    </div>
  </div>
</section>
{% endblock main %}

{% block extra_js %}
<script>
    const skillsData = JSON.parse('{{ skills_data|safe }}');
</script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'js/skills_tree.js' %}"></script>
{% endblock extra_js %}