{% extends "layouts/default.html" %}
{% load static %}
{% block main %}
<section class="bg-base-100">
  <div class="container mx-auto px-4 py-8">
    {% if messages %}
<div id="messages" class="fixed top-0 right-0 m-4">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} shadow-lg mb-4">
      <div>
        <span>{{ message }}</span>
      </div>
    </div>
  {% endfor %}
</div>
<script>
  setTimeout(function() {
    var messages = document.getElementById('messages');
    messages.style.display = 'none';
  }, 5000);  // Hide messages after 5 seconds
</script>
{% endif %}

    <h1 class="text-3xl font-bold mb-8">Resume</h1>
    
    <div class="grid md:grid-cols-2 gap-4">
      <!-- Column 1: Single-column cards -->
      <div class="space-y-4 md:col-span-1">
        
        <c-resume-card>
          <div class="flex flex-col items-start">
            <div class="tooltip tooltip-right" data-tip='"Moaarrr data!" is all I could come up with, sorry.'>
              <div class="relative w-24 h-24 mb-3 rounded-full shadow-lg overflow-hidden group" aria-label="Interactive profile picture. Hover to see a surprise.">
                <img class="absolute inset-0 w-full h-full object-cover transition-all duration-300 ease-in-out opacity-100 group-hover:opacity-0" src="{% static 'img/jonatan_avatar_smiling_no_bg.png' %}" alt="Jonatan Profile Picture"/>
                <img class="absolute inset-0 w-full h-full object-cover transition-all duration-300 ease-in-out opacity-0 group-hover:opacity-100 group-hover:scale-105" src="{% static 'img/jonatan_avatar_roaring_no_bg.png' %}" alt="Jonatan Profile Picture (Roaring)"/>
                <div class="absolute inset-0 rounded-full border-2 border-primary opacity-50 group-hover:opacity-100"></div>
              </div>  
            </div>
            <h3 class="mb-1 text-xl font-medium">Jonatan Snyders <span class="text-sm text-base-content/70">he/him</span></h3>
            <div class="flex flex-wrap gap-2 mt-3">
              <span class="badge badge-primary">Web Developer</span>
              <span class="badge badge-accent">Data Scientist</span>
              <span class="badge badge-secondary">Ex-Founder</span>
              <span class="badge badge-info">Growth Engineer</span>
            </div>
            {% comment %} <span class="text-base text-base-content/70">Ex-Founder <span>&bull;</span> Web Developer <span>&bull;</span> Data Scientist</span> {% endcomment %}
            <p class="mt-2">I'm from Belgium, lived in Venezuela and Nigeria, and moving to Berlin in November 2024.</p>

            <p class="mt-2">I want to launch startups that make a social impact—climate change, inequality, that sort of thing. I ran a 5-person non-profit for 4-5 years and loved it, but we didn’t scale before I burned out.</p>
              
            <p class="mt-2">I hunt skills that excite me. Took a marketing job with zero experience just to learn. Following what gives me energy, not rigid plans. Right now, that’s data engineering and web development. While freelancing in data analytics, I’m looking for a web dev job to level up.</p>
              
            <p class="mt-2">With years of programming and data science behind me, learning web dev has been a blast—GPT and Claude help when I'm stuck.</p>
              
            <p class="mt-2">I like working late so I can take a long lunch for my workout.</p>
              
            <p class="mt-2">Transparency is my top value.</p>
            <div class="flex flex-wrap gap-2 mt-3">
                <span class="badge badge-neutral">Python</span>
                <span class="badge badge-neutral">Django</span>
                <span class="badge badge-neutral">SQL</span>
                <span class="badge badge-neutral tooltip tooltip-right" data-tip="You've seen the crocs. You know it.">Fashion Icon</span>
            </div>
            <div x-data="{ showTooltip: false }" class="relative mt-4 inline-block w-full">
                <a href="{% url 'download_cv' %}" @click.prevent="showTooltip = true; setTimeout(() => showTooltip = false, 3000)" class="btn btn-outline w-full">Download CV</a>
                <div x-show="showTooltip" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" class="absolute z-10 p-2 bg-gray-800 text-white text-sm rounded shadow-lg" style="bottom: 100%; left: 50%; transform: translateX(20%); width: 200px;">
                  All this work on an online resume, and you want a PDF? (<span class="italic">I’ll get to it eventually!</span>)
                </div>
            </div>
          </div>
        </c-resume-card>

        <c-resume-card>
          <div class="join join-vertical w-full">
            <div class="collapse collapse-arrow join-item border-base-300 border">
              <input type="radio" name="about-me-accordion" checked="checked" />
              <div class="collapse-title text-xl font-medium">Quirks</div>
              <div class="collapse-content">
                <ul class="list-disc list-inside">
                  <li>
                    I'm prone to overthinking, but a quick "just do it" snaps me out of it.
                  </li>
                  <li>
                    I try to resist shiny new tech, sticking to <a href="https://mcfunley.com/choose-boring-technology" target="_blank" class="link">boring technology</a> until key moments.
                  </li>
                  <li>
                    I keep a running commentary to be more <a href="https://www.stevestreeting.com/2010/09/04/work-2-0/" target="_blank" class="link">interruptible</a>.
                  </li>
                  <li>
                    I struggle with being overruled when something feels like it's my responsibility.
                  </li>
                  <li>
                    I fundamentally assume everyone's doing their best, even when it doesn't seem that way.
                  </li>
                  <li>
                    I try to consider social imbalances and my own privilege, that I probably don't fully grasp.
                  </li>
                  <li>
                    I get restless in my comfort zone - I enjoy pushing boundaries and learning about myself.
                  </li>
                </ul>
              </div>
            </div>
            <div class="collapse collapse-arrow join-item border-base-300 border">
              <input type="radio" name="about-me-accordion" />
              <div class="collapse-title text-xl font-medium">What I Value</div>
              <div class="collapse-content">
                <ul class="list-disc list-inside">
                  <li>
                    Directness, especially when it's tough to say or hear.
                  </li>
                  <li>
                    Learning to set boundaries when you've been raised to please.
                  </li>
                  <li>
                    Transparency that fosters connection and inclusion.
                  </li>
                  <li>
                    Owning your work, responsibilities, and mistakes.
                  </li>
                  <li>
                    Honestly considering feedback before reacting defensively.
                  </li>
                  <li>
                    Asynchronous communication over constant meetings.
                  </li>
                  <li>
                    Autonomously tracking work, even when you can't act on it right away.
                  </li>
                  <li>
                    Allowing non-critical mistakes to foster ownership.
                  </li>
                  <li>
                    Pointing out my blind spots, including those tied to privilege.
                  </li>
                </ul>
              </div>
            </div>
            <div class="collapse collapse-arrow join-item border-base-300 border">
              <input type="radio" name="about-me-accordion" />
              <div class="collapse-title text-xl font-medium">How I can help you</div>
              <div class="collapse-content">
                <ul class="list-disc list-inside">
                  <li>
                    I'm good at organizing roles, projects, and tasks.
                  </li>
                  <li>
                    I consider your feedback honestly before jumping to defend myself.
                  </li>
                  <li>
                    I pick up complex stuff fast and enjoy sharing what I've learned.
                  </li>
                  <li>
                    I'm all about growth, so if you're into self-improvement, I'm here for it.
                  </li>
                  <li>
                    I can help you with direct non-violent communication.
                  </li>
                  <li>
                    I stay optimistic and focus on fixing systems, not placing blame, when things go wrong.
                  </li>
                  <li>
                    As an ex-founder, I don't need hand-holding to get things done.
                  </li>
                  <li>
                    Whether it's tech, business, or personal growth, I'm here to coach and support you.
                  </li>
                </ul>
              </div>
            </div>
            <div class="collapse collapse-arrow join-item border-base-300 border">
              <input type="radio" name="about-me-accordion" />
              <div class="collapse-title text-xl font-medium">How you can help me</div>
              <div class="collapse-content">
                <ul class="list-disc list-inside">
                  <li>
                    Tell me to "just do it" when I'm stuck in perfectionism - it snaps me out of it.
                  </li>
                  <li>
                    Give feedback, don't jump in - I want to maintain my sense of ownership.
                  </li>
                  <li>
                    Own your tasks; managing others' work drains me.
                  </li>
                  <li>
                    Meet with clear agendas so we use time well.
                  </li>
                  <li>
                    Remind me I can ask for help - I tend to tackle everything solo.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </c-resume-card>

        <c-resume-card title="Bio">
          <p>Your bio here</p>
        </c-resume-card>
        
      </div>
      
      <!-- Columns 2-3: Wide cards -->
      <div class="md:col-span-1 space-y-4">

        <c-resume-card title="Skills">
          <div class="mb-4">
            <div class="tooltip tooltip-right" data-tip="Two visualizations just for fun: D3.js vs Plotly.">
            <select id="skillsVisualizationSelector" class="select select-bordered w-full max-w-xs">
              <option value="sunburst">Sunburst Chart</option>
              <option value="tree">Collapsible Tree</option>
            </select>
          </div>
          </div>

          <div id="sunburstVisualization">
            {{ sunburst_plot|safe }}
          </div>
    
          <div id="treeVisualization" style="display: none;">
            <c-collapsible-tree :tree_data="skills_data"></c-collapsible-tree>
          </div>
    
          <script>
              document.getElementById('skillsVisualizationSelector').addEventListener('change', function() {
                  var treeViz = document.getElementById('treeVisualization');
                  var sunburstViz = document.getElementById('sunburstVisualization');
                  
                  if (this.value === 'sunburst') {
                      treeViz.style.display = 'none';
                      sunburstViz.style.display = 'block';
                  } else {
                      treeViz.style.display = 'block';
                      sunburstViz.style.display = 'none';
                  }
              });
          </script>
        </c-resume-card>
        
        <!-- Achievements -->
        <c-resume-card
            title="Achievements"
            tooltip="I listed only 4 achievements but honestly who's going to read more than 1?"
            description="TLDR: Startup success and failure, lots of programming and data science, gotten pretty good at web development pretty fast."
        >
          <c-resume-item-card
              title="Launched 3 Web Apps Within 3 Months of Learning"
              role="Web Developer"
              badge_color="primary"
              company="Autodidact"
              location="Antwerp, Belgium"
              date_range="Q2 2024"
              image_url="{% static 'img/django-logo.png' %}"
              image_alt="Django Logo"
          >Built an ecommerce platform and marketing mix modeling app in just 3 months of self-study,
          accelerated by my programming and data science experience.</c-resume-item-card>

          <c-resume-item-card
              title="Created MeshMonk - a medical image processing library"
              role="Data Scientist"
              badge_color="accent"
              company="KULeuven"
              location="Leuven, Belgium"
              date_range="2017"
              image_url="{% static 'img/meshmonk-logo-white.png' %}"
              image_alt="MeshMonk Logo"
          >Developed <a href="https://github.com/TheWebMonks/meshmonk" target="_blank" class="link">MeshMonk</a> in C++, a high-performance medical image processing framework used or cited in 140+ research projects.</c-resume-item-card>

          <c-resume-item-card
              title="Scaled international impact-first business to support 30 people"
              role="Ex-Founder"
              badge_color="secondary"
              company="Humainly"
              location="Hasselt, Belgium"
              date_range="2015 - 2020"
              image_url="{% static 'img/humainly-logo-green.png' %}"
              image_alt="Humainly Logo"
          >Scaled <a href="https://humainly.com/" target="_blank" class="link">Humainly</a> - a non-profit yet self-sustainable business - to support 30 people in Venezuela and Nigeria, providing living wages and professional training through local NGO partnerships.</c-resume-item-card>

          <c-resume-item-card
              title="Data engineering and Bayesian modelling at eComm startup"
              role="Growth Engineer"
              badge_color="info"
              company="Moonbird"
              location="Antwerp, Belgium"
              date_range="2018 - 2022"
              image_url="{% static 'img/moonbird_logo_blue.png' %}"
              image_alt="Moonbird icon"
          >Drove data-driven decision-making at eComm startup with a bespoke ELT pipeline, advanced server-side tracking, and self-developed Bayesian Marketing Mix Model.</c-resume-item-card>
        </c-resume-card>

        <!-- Work Experience -->
        <c-resume-card
            title="Work Experience"
            description="TLDR: I did research, built a c++ library, co-founded a business, consulted data science, growth engineering in eComm and started building web apps."
        >
          <c-resume-item-card
          title="Performance Marketing & Data Analytics at eComm startup"
          role="Growth Engineer"
          badge_color="info"
          company="Moonbird"
          location="Antwerp, Belgium"
          date_range="2020 - 2024"
          image_url="{% static 'img/moonbird_logo_blue.png' %}"
          image_alt="Moonbird icon">
            Engineered 50x monthly revenue growth in 3.5 years through data-driven experiments, marketing automation, custom data pipelines and server-side tracking.
          </c-resume-item-card>

          <c-resume-item-card
          title="Co-Founder & CEO of impact-first startup"
          role="Ex-Founder"
          badge_color="secondary"
          company="Humainly"
          location="Hasselt, Belgium"
          date_range="2015 - 2020"
          image_url="{% static 'img/humainly-logo-green.png' %}"
          image_alt="Humainly icon">
            Launched startup <a href="https://humainly.com/" target="_blank" class="link">Humainly</a> providing digital jobs and education in low-income regions alongside a Computer Vision consulting service.
          </c-resume-item-card>

          <c-resume-item-card
          title="Research @ Medical Imaging Research Center "
          role="Data Scientist"
          badge_color="accent"
          company="KULeuven"
          location="Leuven, Belgium"
          date_range="2012 - 2014"
          image_url="{% static 'img/KULeuven_old_logo.png' %}"
          image_alt="KULeuven Logo">
            Developed algorithms for medical image processing which eventually led to the <a href="https://github.com/TheWebMonks/meshmonk" target="_blank" class="link">MeshMonk</a> library, used or cited in 140+ research projects.
          </c-resume-item-card>

        </c-resume-card>

        <!-- Education -->
        <c-resume-card
            title="Education"
            description="Your education details here"
        >
          <c-resume-item-card
          title="Bachelor & Master in Electrical Engineering "
          role="Data Scientist"
          badge_color="accent"
          company="KULeuven"
          location="Leuven, Belgium"
          date_range="2007 - 2012"
          image_url="{% static 'img/KULeuven_old_logo.png' %}"
          image_alt="KULeuven Logo">
            Specialized in signal processing, with a focus on algorithms for medical image and 3D mesh processing.
          </c-resume-item-card>
        </c-resume-card>
        
      </div>
    </div>
  </div>
</section>
{% endblock main %}